.collapse {
    margin-bottom: 25px;
    position: relative;
}

.collapse__title {
    position: absolute;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapse__title p {
    color: white;
    margin: 0;
    font-size: 0.9rem;
}
.collapse__title i {
    color: white;
}

.collapse__text {
    background-color: #f6f6f6;
    padding: 45px 10px;
    border-radius: 10px;
}
.collapse__text p {
    color: #ff6060;
    font-size: 0.8rem;
    margin: 0;
}

@media (min-width: 900px) {
    .collapse {
        width: 80%;
        margin: 0 auto 25px auto;
    }
    .collapse__title p {
        font-size: 1.2rem;
    }
    .collapse__text {
        padding: 55px 10px 20px 10px;
    }
    .collapse__text p {
        font-weight: 400;
        font-size: 1.2rem;
    }
}
