@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}

ul {
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

main,
.container {
    width: 90%;
    margin: auto;
}

.active {
    text-decoration: underline;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header img {
    width: 150px;
    height: 55px;
    /* DESKTOP */
    /* width: 200px;
    height: 70px; */
}
header a {
    color: #ff6060;
}
header ul {
    display: flex;
}
header li {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-left: 10px;
    /* DESKTOP */
    /* margin-left: 40px;
    font-size: 1.3rem; */
}

footer {
    background-color: #000;
    padding: 50px 0;
}
footer .container {
    text-align: center;
}
footer img {
    width: 100px;
}
footer p {
    color: white;
    font-size: 0.8rem;
}
