.link {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.card {
  height: 250px;
  margin: 0;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5504315373610382) 0%,
      rgba(0, 0, 0, 0) 54%
    );
    color: white;
    line-height: 1.5;
  }
}

@media (min-width: 600px) {
  .link {
    width: 47%;
  }
}

@media (min-width: 900px) {
  .link {
    width: 31%;
  }

  .card {
    height: 300px;

    figcaption {
      padding: 15px;
    }
  }
}
