.collapse {
    margin-bottom: 25px;
    position: relative;
}

.collapse__title {
    position: relative;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapse__title p {
    color: white;
    margin: 0;
    font-size: 0.9rem;
}
.collapse__title i {
    color: white;
}
.collapse_btn {
    transition: transform 0.3s ease-out;
}
.btn_up {
    transform: rotate(180deg);
}

.collapse__text {
    background-color: #f6f6f6;
    padding: 45px 10px;
    border-radius: 10px;
    margin-top: -30px;
}
.collapse__text ul {
    margin: 0;
}
.collapse__text p,
.collapse__text li {
    color: #ff6060;
    margin: 0;
    font-weight: 400;
    line-height: 1.5rem;
}
.about_collapse .collapse__text p,
.about_collapse .collapse__text li {
    font-size: clamp(0.8rem, 0.425rem + 1.2vw, 1.1rem);
}
.renting_collapse .collapse__text p,
.renting_collapse .collapse__text li {
    font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
}

@media (min-width: 900px) {
    .about_collapse {
        width: 80%;
        margin: 0 auto 25px auto;
    }
    .renting_collapse {
        width: 47%;
    }
    .renting_collapse .collapse__text {
        min-height: 315px;
    }
    .collapse__text {
        padding: 50px 15px 20px 15px;
    }
    .collapse__title {
        padding: 15px;
    }
    .collapse__title p {
        font-size: 1rem;
    }
}
